/******* This script contains all styles i created for this site who aren't availables on materialize *******/

html {
    scroll-behavior: smooth;
}

.row {
    scroll-margin-top: 64px;
}

/* Banner image with text used on index */

.banner_img_index {
    overflow: hidden;
}

.contenant_white {
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
}

.contenant_black {
  position: relative;
  text-align: center;
  color: black;
  object-fit: cover;
}
  
.texte_centrer {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.button_down {
    position: absolute;
    top: calc(100vh - 64px - 10vh);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.button_carousel{
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.cropped_img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.navbar_logo {
    display: inline-block;
    width: 100%;
}

.my_container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    min-height: calc(100vh - 120px);
  }
  
  @media only screen and (min-width: 601px) {
    .my_container {
      width: 85%;
      min-height: calc(100vh - 120px);
    }
  }
  
  @media only screen and (min-width: 993px) {
    .my_container {
      width: 70%;
      min-height: calc(100vh - 120px);
    }
  }